header {
  text-align: center;
}
  
.body-align {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
}

.body-element {
  background-color: red;
  margin: 20px;
}
