header {
  text-align: center;
}

body{
  background-color:#ddeaff;
}

h3{
  margin: 0;
}
  
.body-align {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 800px;
  align-content: space-around;
  
}

.body-element {
  border-top: 2px solid lightgrey;
  background-color: #f7fffa;
  margin: 10px;
  padding: 10px;
}
