html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

h1{
  text-align: center;
}

.contact{
  text-align: center;
}
  
.body element{
  border-top: 2 px solid black;
}
